@()()
@main("Classifications") {

    <!-- Main Container -->
    <index id="index-container">
            <!-- Hero Content -->
        <div class="bg-primary-dark-op">
            <section class="content content-full content-boxed overflow-hidden">
            </section>
        </div>


        <main id="main-container" style="min-height: 857px; ">
                <!-- Page Header -->
            <div class="content bg-gray-lighter">
                <div class="row items-push">
                    <div class="col-sm-6 col-lg-3">
                        <div class="block block-themed">
                            <div class="block-header bg-primary-light">
                                <ul class="block-options">
                                </ul>
                                <h3 class="block-title">What Are Film classifications?</h3>
                            </div>
                            <div class="block-content">
                                <p>Films for theatrical release are normally classified by at least two Examiners using the published Guidelines.
                                    In most cases the decision is ratified by a Senior Examiner, but if the Examiners are in any doubt or fail to agree, or
                                    if important policy issues are involved, the work may be seen by other members of the Board up to, and including,
                                    the Chief Executive and Presidential team. Occasionally it is necessary to take specialist advice about the legal
                                    acceptability of film content or its potential for harm. DVDs are normally seen by one Examiner,
                                    particularly when they are viewing the DVD version of a cinema film which has already been classified.
                                    However, opinions from other Examiners may be required for more difficult works.</p>
                                <p>Examiners look at issues such as discrimination, drugs, horror, language, imitable behaviour, nudity, sex, sexual violence,
                                    theme and violence when making decisions. They also consider context, the tone and impact of a work
                                    (eg how it makes the audience feel) and even the release format (for example, as DVDs are watched in the home,
                                    there is a higher risk of underage viewing)</p>
                            </div>
                </div>
            </div>
                    <div class="col-sm-6 col-lg-6">
                    <div class="block block-themed">
                        <div class="block-header bg-primary-light">
                            <ul class="block-options">
                            </ul>

                    <h3 class="block-title">Film Classifications</h3>
                </div>
                    <div class="block-content">
                        <p></p>
                        <p></p>
                    </div>
                    </div>
                    </div>


                        <div class="col-sm-6 col-lg-3">
                            <div class="block block-themed">
                                <div class="block-header bg-primary-light">
                                    <ul class="block-options">
                                    </ul>

                                    <h3 class="block-title">Want more Information?</h3>
                                </div>
                                <div class="block-content">
                                    <p> visit  the <a href="http://www.bbfc.co.uk/">british board of Film classification</a> for more information</p>
                                </div>


        </main>



        </div>

                </div>
                    <!-- END Section Content -->
            </section>
        </div>
            <!-- END Hero Content -->

            <!-- Content -->

        </div>
            <!-- END Content 4 -->
    </index>
        <!-- END Main Container -->
}