@()()
@main("Classifications") {

    <!-- Main Container -->
    <index id="index-container">
            <!-- Hero Content -->
        <div class="bg-primary-dark-op">
            <section class="content content-full content-boxed overflow-hidden">
            </section>
        </div>


        <main id="main-container" style="min-height: 857px; ">
                <!-- Page Header -->
            <div class="content bg-gray-lighter">
                <div class="row items-push">
                    <div class="col-sm-6 col-lg-3">
                        <div class="block block-themed">
                            <div class="block-header bg-primary-light">
                                <ul class="block-options">
                                </ul>
                                <h3 class="block-title">What Are Film classifications?</h3>
                            </div>
                            <div class="block-content">
                                <p>Films for theatrical release are normally classified by at least two Examiners using the published Guidelines.
                                    In most cases the decision is ratified by a Senior Examiner, but if the Examiners are in any doubt or fail to agree, or
                                    if important policy issues are involved, the work may be seen by other members of the Board up to, and including,
                                    the Chief Executive and Presidential team. Occasionally it is necessary to take specialist advice about the legal
                                    acceptability of film content or its potential for harm. DVDs are normally seen by one Examiner,
                                    particularly when they are viewing the DVD version of a cinema film which has already been classified.
                                    However, opinions from other Examiners may be required for more difficult works.</p>
                                <p>Examiners look at issues such as discrimination, drugs, horror, language, imitable behaviour, nudity, sex, sexual violence,
                                    theme and violence when making decisions. They also consider context, the tone and impact of a work
                                    (eg how it makes the audience feel) and even the release format (for example, as DVDs are watched in the home,
                                    there is a higher risk of underage viewing)</p>
                            </div>
                </div>
            </div>
                    <div class="col-sm-6 col-lg-6">
                    <div class="block block-themed">
                        <div class="block-header bg-primary-light">
                            <ul class="block-options">
                            </ul>

                    <h3 class="block-title">Film Classifications</h3>
                </div>
                    <div class="block-content">
                        <div class="block-content">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 50px;">Name</th>
                                        <th>Description</th>
                                        <th class="hidden-xs" style="width: 15%;">Symbol</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">Universal</td>
                                        <td>All ages admitted. There is nothing unsuitable for children aged 4 years
                                            and over.</td>
                                        <td class="hidden-xs">
                                            <span ><img src="@routes.Assets.at("images/Universal.png")" alt="Logo" align ="center" style="width:64px;height:64px" ></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Parental Guidance</td>
                                        <td>All ages admitted, but some certain scenes can be unsuitable for young children.
                                            They should not disturb children aged 8 or older.	</td>
                                        <td class="hidden-xs">
                                            <span ><img src="@routes.Assets.at("images/Parental_Guidance.png")" alt="Logo" align ="center" style="width:64px;height:64px" ></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">12A</td>
                                        <td>This category applies to cinema only releases since 2002. Films under this
                                            category are considered to be unsuitable for young children. Cinemas in the
                                            United Kingdom are only permitted to supply tickets to see a 12A film to
                                            children under the age of 12 if they are accompanied by an adult aged 18 or
                                            over. However, it is unlikely to be suitable for children under the age of 12.</td>
                                        <td class="hidden-xs">
                                            <span ><img src="@routes.Assets.at("images/12A.png")" alt="Logo" align ="center" style="width:64px;height:64px" ></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">12</td>
                                        <td>This category applies to cinema releases from August 1989 to 2002, and home
                                            media since 1994. Suitable for people aged 12 and older. It is illegal to
                                            supply a video work with a 12 certificate to anyone under that age.
                                            12A-rated films are usually given a 12 certificate for the VHS/DVD version
                                            unless extra material has been added that requires a higher rating.</td>
                                        <td class="hidden-xs">
                                            <span ><img src="@routes.Assets.at("images/12.png")" alt="Logo" align ="center" style="width:64px;height:64px" ></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">15</td>
                                        <td>Suitable only for people aged 15 and older. No one younger than 15 may see a
                                            15 film in a cinema. It is illegal to supply a video work with a 15 certificate
                                            to anyone under that age.</td>
                                        <td class="hidden-xs">
                                            <span ><img src="@routes.Assets.at("images/15.png")" alt="Logo" align ="center" style="width:64px;height:64px" ></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">18</td>
                                        <td>Suitable only for people aged 18 or older, which means adults only. No one
                                            younger than 18 may see an 18 film in a cinema. It is illegal to supply a
                                            video work with an 18 certificate to anyone under that age. </td>
                                        <td class="hidden-xs">
                                            <span ><img src="@routes.Assets.at("images/18.png")" alt="Logo" align ="center" style="width:64px;height:64px" ></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Restricted 18</td>
                                        <td>Can only be shown at licensed adult cinemas or sold at licensed sex shops.
                                            To be supplied only to adults, and it is illegal to supply a film with this
                                            rating by mail order. </td>
                                        <td class="hidden-xs">
                                            <span> <img src="@routes.Assets.at("images/Restricted18.png")" alt="Logo" align ="center" style="width:64px;height:64px" > </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                    </div>


                        <div class="col-sm-6 col-lg-3">
                            <div class="block block-themed">
                                <div class="block-header bg-primary-light">
                                    <ul class="block-options">
                                    </ul>

                                    <h3 class="block-title">Want more Information?</h3>
                                </div>
                                <div class="block-content">
                                    <p> visit  the <a href="http://www.bbfc.co.uk/">british board of Film classification</a> for more information</p>
                                    <p> visit  <a href="https://en.wikipedia.org/wiki/British_Board_of_Film_Classification">this wikipedia page</a>
                                        too for information on classification systems used in cinema</p>

                                </div>
                            </div>
                        </div>
                </div>
            </div>

        </main>



        </div>

                </div>
                    <!-- END Section Content -->
            </section>
        </div>
            <!-- END Hero Content -->

            <!-- Content -->

        </div>
            <!-- END Content 4 -->
    </index>
        <!-- END Main Container -->
}