@()()
@main("Inprogress") {



  <!-- Main Container -->
  <index id="index-container">
      <!-- Hero Content -->
    <div class="bg-primary-dark-op">
      <section class="content content-full content-boxed overflow-hidden">
          <!-- Section Content -->
        <div class="push-50-t push-50 text-center">
          <h1 class="h2 text-white push-10">QA Cinemas</h1>
          <h2 class="h5 text-white-op">Subtitle.</h2>
        </div>
          <!-- END Section Content -->
      </section>
    </div>
      <!-- END Hero Content -->

      <!-- Content -->
    <div class="bg-white">
      <section class="content content-boxed">
          <!-- Section Content -->
        <h2 class="push-50-t push-50 text-center">Inprogress</h2>
          <!-- END Section Content -->
      </section>
    </div>
      <!-- END Content -->


  </index>
    <!-- END Main Container -->




}