@()()
@main("") {


    <!-- Main Container -->
    <index id="index-container">
            <!-- Hero Content -->
        <div class="bg-primary-dark-op">
            <section class="content content-full content-boxed overflow-hidden">
                    <!-- Section Content -->
                <div class="push-50-t push-50 text-center">
                    <h1 class="h2 text-white push-10">QA Cinemas</h1>
                    <h2 class="h5 text-white-op">Subtitle.</h2>
                </div>
                    <!-- END Section Content -->
            </section>
        </div>
            <!-- END Hero Content -->

            <!-- Content -->
        <main id="main-container" style="min-height: 857px; ">
                <!-- Page Header -->
            <div class="content bg-gray-lighter">
                <div class="block">
                    <div class="block-content">
                        <form class="form-horizontal push-10-t push-10" action="base_forms_premade.html" method="post" onsubmit="return false;">
                            <div class="form-group">
                                <div class="col-xs-3">
                                    <div class="form-material floating open">
                                        <select class="form-control" id="contact3-cinema" name="contact3-cinema" size="1">
                                            <option value="1">Support</option>
                                            <option value="2">Billing</option>
                                            <option value="3">Management</option>
                                            <option value="4">Feature Request</option>
                                        </select>
                                        <label for="contact3-cinema">Cinema</label>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-material floating open">
                                        <select class="form-control" id="contact3-location" name="contact3-location" size="1">
                                            <option value="1">Support</option>
                                            <option value="2">Billing</option>
                                            <option value="3">Management</option>
                                            <option value="4">Feature Request</option>
                                        </select>
                                        <label for="contact3-location">Location</label>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-material floating open">
                                        <select class="form-control" id="contact3-film" name="contact3-film" size="1">
                                            <option value="1">Support</option>
                                            <option value="2">Billing</option>
                                            <option value="3">Management</option>
                                            <option value="4">Feature Request</option>
                                        </select>
                                        <label for="contact3-film">Film</label>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <button class="btn btn-sm btn-default pull-right" type="submit"><i class="fa fa-send push-5-r"></i>Find Times</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row items-push">
                    <div class="col-sm-6 col-lg-3">
                        <div class="block block-themed">
                            <div class="block-header bg-primary-light">
                                <ul class="block-options">
                                </ul>

                                <h3 class="block-title">Top Rated Films</h3>
                            </div>
                            <div class="block-content">
                                <p>...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div class="block block-themed">
                            <div class="block-header bg-primary-light">
                                <ul class="block-options">
                                </ul>

                                <h3 class="block-title">Most Recent Films</h3>
                            </div>
                            <div class="block-content">
                                <p>...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="block block-themed">
                            <div class="block-header bg-primary-light">
                                <h3 class="block-title">Opening Times</h3>
                            </div>
                            <div class="block-content">
                                <ul class="list-group">
                                    <li class="list-group-item"><span class="badge">9:00 - 23:00</span>Monday</li>
                                    <li class="list-group-item"><span class="badge">9:00 - 23:00</span>Tuesday</li>
                                    <li class="list-group-item"><span class="badge">9:00 - 23:00</span>Wednesday</li>
                                    <li class="list-group-item"><span class="badge">9:00 - 23:00</span>Thursday</li>
                                    <li class="list-group-item"><span class="badge">9:00 - 23:00</span>Friday</li>
                                    <li class="list-group-item"><span class="badge">10:00 - 24:00</span>Saturday</li>
                                    <li class="list-group-item"><span class="badge">10:00 - 24:00</span>Sunday</li>
                                </ul>
                            </div>
                        </div>
                            <!-- END Content 4 -->
                    </div>
                </div>
            </div>
        </main>
    </index>
        <!-- END Main Container -->


}