@()()
@main("") {


    <!-- Main Container -->
    <index id="index-container">
            <!-- Hero Content -->
        <div class="bg-primary-dark-op">
            <section class="content content-full content-boxed overflow-hidden">
                    <!-- Section Content -->
                <div class="push-50-t push-50 text-center">
                    <h1 class="h2 text-white push-10">QA Cinemas</h1>
                    <h2 class="h5 text-white-op">Subtitle.</h2>
                </div>
                    <!-- END Section Content -->
            </section>
        </div>
            <!-- END Hero Content -->

            <!-- Content -->
        <div class="block align-v">
            <div class="block-header">
                <h3 class="block-title">Opening Times</h3>
            </div>
            <div class="block-content">
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge">9:00 - 23:00</span>Monday</li>
                    <li class="list-group-item"><span class="badge">9:00 - 23:00</span>Tuesday</li>
                    <li class="list-group-item"><span class="badge">9:00 - 23:00</span>Wednesday</li>
                    <li class="list-group-item"><span class="badge">9:00 - 23:00</span>Thursday</li>
                    <li class="list-group-item"><span class="badge">9:00 - 23:00</span>Friday</li>
                    <li class="list-group-item"><span class="badge">10:00 - 24:00</span>Saturday</li>
                    <li class="list-group-item"><span class="badge">10:00 - 24:00</span>Sunday</li>
                </ul>
            </div>
        </div>
            <!-- END Content 4 -->
    </index>
        <!-- END Main Container -->


}